<br><br>
<div class="agregar">
    <button class="btn btn-success" style="float: right;">Agregar arriendo</button>
    <button class="btn btn-primary" style="float: left;">Agregar inmueble</button>
</div>
<br><br>
<div class="inmuebles">
    <h1>INMUEBLES</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Matricula inmobiliaria</th>
                <th>Dirección</th>
                <th>Valor arriendo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>0001</th>
                <th>Calle 11 # 21 - 04</th>
                <th>1.500.000</th>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div class="arrendamientos">
    <h1>ARRIENDOS</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Matricula inmueble</th>
                <th>Identificación de arrendatario</th>
                <th>Nombre del arrendatario</th>
                <th>Meses de alquiler</th>
                <th>Valor del deposito</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>0001</th>
                <th>201611674022</th>
                <th>Carl Anderson</th>
                <th>5</th>
                <th>3.5000.000</th>
            </tr>
        </tbody>
    </table>
</div>