<h2>Agregar inmueble</h2>
<hr>
<form>
    <div class="form-group">
        <label for="matriculaInmobiliaria">Matricula inmobiliaria:</label>
        <input class="form-control" type="text" name="matriculaInmobiliaria" id="matriculaInmobiliaria">
    </div>
    <div class="form-group">
        <label for="identificaiconArrendatario">Identificacion arrendatario:</label>
        <input class="form-control" type="text" name="identificaiconArrendatario" id="identificaiconArrendatario">
    </div>
    <div class="form-group">
        <label for="nombreArrendatario">Nombre arrendatario:</label>
        <input class="form-control" type="text" name="nombreArrendatario" id="nombreArrendatario">
    </div>
    <div class="form-group">
        <label for="mesesAlquiler">Meses de alquiler:</label>
        <input class="form-control" type="number" name="mesesAlquiler" id="mesesAlquiler">
    </div>
    <div class="form-group">
        <label for="valorDeposito">Valor deposito:</label>
        <input class="form-control" type="number" name="valorDeposito" id="valorDeposito">
    </div>

    <button class="btn btn-success" style="float: right;">Agregar</button>
</form>